html * {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}
header {
    background-color: lemonchiffon;
}
main {
    background-color: white;
}
h2,
h4 {
    color: lightblue;
}
body {
    /* FLEX PARENT*/
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    margin: 2px;
    padding: 2px;
    text-align: center;
}

/*FLEX ITEMS*/

header {
    flex-basis: 100%;
    padding: 8px;
    text-align: center;
}

nav {
    text-align: center;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

main {
    flex-basis: 100%;
    padding: 15px;
    text-align: center;
}

footer {
    flex-basis: 100%;
    padding: 15px;
    background-color: lemonchiffon;
    text-align: center;
}

aside {
    display: none;
}
article {
    display: none;
}

@media screen and (min-width:800px) {
    header {
        background-color: lemonchiffon;
    }
    main {
        background-color: white;
    }
    aside {
        background-color: lightblue;
    }
    footer {
        background-color: lemonchiffon;
    }
    body {
        /* FLEX PARENT*/
        display: flex;
        flex-wrap: wrap;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    /*FLEX ITEMS*/
    header {
        flex-basis: 100%;
        text-align: center;
        padding: 15px;
    }
    nav {
        text-align: center;
        border: 2px solid black;
        margin: 5px;
        padding: 5px;
    }
    main {
        flex-basis: 60%;
        padding: 15px;
        text-align: center;
    }
    footer {
        flex-basis: 100%;
        padding: 15px;
        text-align: center;
    }
    aside {
        flex-basis: 40%;
        text-align: center;
        display: block;
        padding: 15px;
    }
    article {
        display: none;
    }
    
}

@media screen and (min-width:1024px) {
    header {
        background-color: lemonchiffon;
    }
    main {
        background-color: white;
    }
    aside, article {
        background-color: lightblue;
    }
    footer {
        background-color: lemonchiffon;
    }
    body {
        /* FLEX PARENT*/
        display: flex;
        flex-wrap: wrap;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    /*FLEX ITEMS*/
    header {
        flex-basis: 100%;
        padding: 15px;
        flex-wrap: wrap;
    }
    nav {
        text-align: center;
        border: 2px solid black;
        margin: 5px;
        padding: 5px;
    }
   article {
        flex-basis: 5%;
       padding: 10px;
       display: block;      
    }
    main {
        flex-basis: 65%;
        padding: 15px;
        text-align: center;
    }
    aside {
        flex-basis: 5%;
        
        display: block;
        padding: 5px;
    
    }
    
    img {
        align-content: center;
        padding: 15px;
        
    }
    footer {
        flex-basis: 100%;
        padding: 15px;
        text-align: center;
    }
}