html * {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
 header {
        background-color: lightgreen;
    }
    
    nav {
        background-color: lightblue;
    }
    
    main {
        background-color: white;
    }
    
    aside {
        background-color:lightcoral
    }
    
    footer {
        background-color: lavender;
    }
    
    body {
        /* FLEX PARENT*/
        display: flex;
        flex-wrap: wrap;
        
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    /*FLEX ITEMS*/
    
    header {
        flex-basis: 100%;
        padding: 15px;
        text-align: center;
    }
    
    nav {
        flex-basis: 15%;
        padding: 15px;
        text-align: center;
    }
    
    main {
        flex-basis: 50%;
        padding: 15px;
        text-align: center;
    }
    
    aside {
        flex-basis: 35%;
        text-align: center;
        display: block;
    }
    
    img {
        align-content: center;
        padding: 15px;
    }
    
    footer {
        flex-basis: 100%;
        padding: 15px;
        text-align: center;
    }
