/* Replace with flexbox for greenville weather page*/

html {
    box-sizing: border-box;
}

before,
after {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

header {
    flex-basis: 100%;
    
}

main {
    
    flex-basis: 400%;
    border: 2px solid #000;
}

aside {
    flex-basis: 40%;
}

footer {
    flex-basis: 100%;
}

nav {
    flex-basis: 20%;
}