<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Layout Test</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="layouts2.css" media="screen"> </head>

<body>
    <header>
        Ipsum iudicem
    </header>
    <nav>
       ut summis quis do non a magna
    </nav>
    <main>
        Content
        <br> quem sint et anim ab hic ipsum incurreret sed fugiat aliquip ne officia. Proident sint ita nostrud despicationes, nisi tempor eiusmod
    </main>
    <aside>
        Additionally
        <br> Nam tamen vidisse nostrud, dolore excepteur id coniunctione, iudicem donoster probant, aut id ipsum dolore culpa ex de fugiat doctrina </aside>
    <footer> &copy; 2016 </footer>
</body>

</html>